* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  width: 960px;
  justify-content: center;
  margin: 0 auto;
}
.list-main {
  padding: 50px 0;
}

.list {
  height: 65px;
  padding: 20px;
}

.list:nth-child(odd){
  background-color: #cfcfcf;
}

.list:nth-child(even){
  background-color: #f7f7f7;
}

.content-box{
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9){
  background-color: orange;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
  margin-bottom: 50px;
}